* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}


@font-face {
    font-family: QuirkyRobot;
    src: url(../fonts/QuirkyRobot.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
body > * {
    visibility: hidden;
}

button {
    display: block;
    margin: auto;
    width: 200px;
    color: white;
    background: #007bff;
    border: 0;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

.center-component {
    width: 600px;
    background: rgba(255, 255, 255, .95);
    border: 1px solid lightgrey;
    padding: 10px;
    margin: auto;
    position: absolute;
    text-align: center;
}

.game-screen{
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: calc(50vh - 275px);
    overflow: hidden;
    width: 800px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    user-select: none;
}
.game-canvas{
    display: block;
    height: 400px;
    width: 100%;
}

.game-controls{
    background-color: #f2f2f2;
    border-top: 1px solid black;
    height: 100px;
    width: 100%;
    display: flex;
    user-select: none;
}

.no-select *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-group button {
    margin: 10px auto 0;
}

.button-group:first-child {
    margin: 0 auto 0;
}

.button-cancel {
    background: lightgrey;
    color: black;
}

.next-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-img-container img {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: "FlipV";
    opacity: 0.1;
    filter: alpha(opacity=50);
}

#title a {
    color: black;
    text-decoration: none;
    font-size: 80px;
    text-align: center;
    font-family: QuirkyRobot;
    letter-spacing: 2px;
    transition: font-size .4s;
}

#title a:hover {
    font-size: 90px;
}

#main-menu-buttons {
    margin-top: 20px;
}

#game-token-input {
    width: 196px;
}

#player-sides {
    padding-top: 10px;
    width: 800px;
    height: 40px;
    border-bottom: 1px solid black;
}

#player-sides span {
    font-family: QuirkyRobot;
    font-size: 40px;
    letter-spacing: 2px;
}

#player1 {
    width: 350px;
    padding: 0 10px 0 10px;
    float: left;
    color: #29cdee;
    font-family: QuirkyRobot;
    font-size: 40px;
    letter-spacing: 2px;
}

#player2 {
    width: 350px;
    padding: 0 10px 0 10px;
    float: right;
    color: #f58848;
    font-family: QuirkyRobot;
    font-size: 40px;
    text-align: right;
    letter-spacing: 2px;
}

#game-controls-left {
    width: 300px;
    height: 100px;
    display: inline-block;
    margin-left: 5px;
}

#up-next {
    width: 300px;
    height: 100px;
    display: inline-block;
}

#right-left {
    height: 72px;
    width: 100%;
    display: table;
}

#right-left > div {
    display: table-cell;
}

#timer {
    pointer-events: none;
    position: absolute;
    top: calc(50% - 180px);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
}

#remainingTime {
    font-size: 60px;
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#time-up {
    position: absolute;
    top: calc(50% - 50px);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
}

#time-up-message {
    font-size: 60px;
}

#results {
    position: absolute;
    top: calc(50% - 100px);
    transform: translateY(-50%);
    background: rgba(145, 237, 145, .85);
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
}

#results-message {
    font-size: 50px;
}

#next-right {
    visibility: hidden;
}